<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label th:text="${user.first_name}">Name</label>
<form  th:action="@{/add}" method="post">
  <input type="hidden" name="id" th:value="${user.employee_id}">
  <label  >position</label>
<div th:switch="${projects}">
    <h2 th:case="null">No projects yet!</h2>
        <div th:case="*">
            <div th:each="project : ${projects}">
                <input type="radio" name="position" th:value="${project.project_id}"  ><label th:text="${project.title}" ></label>
            </div>
            </div>
    </div>

  <button type="submit" class="btn-2"><span>update User</span></button>
</form>

</body>
</html>