<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Пример веб-страницы</title>
</head>
<style>
    table {
        width: 100%; /* Ширина таблицы */
        border-collapse: collapse; /* Убираем двойные линии */
    }
    thead {
        background: #f5e8d0; /* Цвет фона заголовка */
    }
    td, th {
        padding: 5px; /* Поля в ячейках */
        border: 1px solid #333; /* Параметры рамки */
    }
    tbody tr:nth-child(even) {
        background: #f0f0f0; /* Зебра */
    }
</style>
<body>
<form name='f' th:action="@{/perform_logout}"  method='POST'>

            <td><input name="submit" type="submit" value="exit" /></td>

</form>
<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*" >
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Project</th>
                <th>Edit</th>
                <th>Delete</th>

                <!--                        <th>Edit</th>
                                        <th>Delete</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.user_id}"></td>

                <td th:text="${user.first_name}"></td>
                <td th:text="${user.last_name}"></td>

                <td th:each="project : ${user.roles}">
                <p th:text="${project.title}"></p>
                </td>


                <td>

                    <form  th:action="@{/edit}"  >
                        <input type="hidden"  name="id" th:value="${user.user_id}">
                        <input type="hidden"  name="entity" value="user">
                        <button type="submit" class="btn-2"><span>edit User</span></button>
                    </form>

                </td>
                <td >
                    <form  th:action="@{/delete}"  >
                        <input type="hidden"  name="id" th:value="${user.user_id}">
                        <input type="hidden"  name="entity" value="user">
                        <button type="submit" class="btn-2"><span>del User</span></button>
                    </form>
                </td>



                <!--                    <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <form action="./add">
        <input type="hidden" value="user" name="entity">
        <button  type="submit"><span>Add a new user</span></button>
    </form>

    <div th:switch="${roles}">
        <h2 th:case="null">No projects yet!</h2>
        <div th:case="*" >
            <h2>Projects</h2>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.role_id}"></td>

                    <td th:text="${role.title}"></td>

                    <td>

                        <form  th:action="@{/edit}"  >
                            <input type="hidden"  name="id" th:value="${role.role_id}">
                            <input type="hidden"  name="entity" value="role">
                            <button type="submit"><span>edit Role</span></button>
                        </form>

                    </td>
                    <td >
                        <form  th:action="@{/delete}"  >
                            <input type="hidden"  name="id" th:value="${role.role_id}">
                            <input type="hidden"  name="entity" th:value="role">
                            <button type="submit" ><span>del Role</span></button>
                        </form>
                    </td>



                </tr>
                </tbody>
            </table>
            <hr>
<table th:each="role : ${roles}">
    <tr>
        <th colspan="3"  th:text="${role.title}"></th>
    </tr>
    <tr th:each="user:${role.users}" >
       <td th:text="${user.user_id}"></td><td  th:text="${user.first_name}"></td><td  th:text="${user.last_name}"></td>
    </tr>
</table>
        </div>
        <form action="./add">
            <input type="hidden" value="role" name="entity">
            <button  type="submit" class="btn-2"><span>Add a new role</span></button>
        </form>

</div>
</body>
</html>